.articles{
    font-family: $font-headings;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    
    
    .article{
        margin: 70px 0; 
        
        h3{
            margin: 10px;
        }
        img{
            margin: 20px;
        }

    }


}