*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $main-darkblue;
    font-family: $font-body;
    color: $neutral;
}
.container{
    max-width: 450px;
    margin: 0 auto;
  }
  
.wrapper-articles{
    max-width: 75vw;
    margin: 0 auto;
}

.wrapper-profiles{
    max-width: 65vw;
    margin: 0 auto;
}