*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $main-darkblue;
    font-family: $font-body;
    color: $neutral;
}
.container{
    max-width: 90vw;
    margin: 0 auto;
  }
  
.wrapper-articles{
    max-width: 80vw;
    margin: 0 auto;
}

.wrapper-profiles{
    max-width: 70vw;
    margin: 0 auto;
}

.wrapper-contact{
    max-width: 60vw;
    margin: 0 auto;
}

.button{

    color: $neutral;
    background-color: $accent-blue;
    width: 80%;
    padding: 15px 0;
    border-radius: 40px;
    border:none;
    font-weight: 700;
    margin: 20px;
}

@media only screen and (min-width: 1024px){
    

    .button{
        width: 25%;
        padding: 15px 0;
        border-radius: 40px;
        border:none;
        font-weight: 700;
        margin: 20px;

        &:hover{
            background-color: $accent-cyan;
            cursor: pointer;
        }
    }
    .wrapper-profiles{
        max-width: 90vw;
        margin: 0 auto;
    }
    .wrapper-contact{
        max-width: 70%;
        margin: 0 auto;
    }
}