.last-entry{
    
    .illustration-stay-productive{
        width: 90%;
        margin: 0 auto;
    }

    h2{
        margin: 20px 0;
        font-family:$font-headings;
    }

    p{
        margin: 20px 0;
        font-family: $font-body;
    }

    a{
        color: $accent-cyan;
        background-color: none;
        text-decoration: none;
    }

    hr{
        margin-top: 5px;
    }
}
@media only screen and (min-width: 1024px){
    .last-entry{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "illustration productive-content"
        ;
        
        .illustration-stay-productive{
            width: 70%;
            grid-area:illustration;
        }

        .productive-content{
            grid-area: productive-content;
            a{
                &:hover{
                    color: $neutral;
                }
            }
        }
        
    }
}