.last-entry{
    
    .illustration-stay-productive{
        width: 90%;
        margin: 0 auto;
    }

    h2{
        margin: 20px 0;
        font-family:$font-headings;
    }

    p{
        margin: 20px 0;
        font-family: $font-body;
    }

    a{
        color: $accent-cyan;
        background-color: none;
        text-decoration: none;
    }

    hr{
        margin-top: 5px;
    }
}