.main{  
    .main-content{
    margin-top: 70px;

        .entry{
            text-align: center; 
            font-size: $font-size-body;

            p{
                line-height: 25px;
                margin: 20px;
                
            }
            
        }
    }
}
@media only screen and (min-width: 1024px){

    .main{  
        .main-content{    
            .entry{
                p{
                    margin: 20px 200px;
                }
                
            }
        }
    }
}