$font-body: 'Open Sans', sans-serif;
$font-size-body: 14px; 
$font-headings: 'Raleway', sans-serif;
$neutral: hsl(0, 0%, 100%);
$accent-cyan: hsl(176, 68%, 64%);
$accent-blue: hsl(198, 60%, 50%);
$accent-red: hsl(0, 100%, 63%);
$intro-darkblue:hsl(217, 28%, 15%);
$main-darkblue:hsl(218, 28%, 13%);
$footer-darkblue:hsl(216, 53%, 9%);
$testimonials-darkblue:hsl(219, 30%, 18%);