* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #181f2a;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

.wrapper-articles {
  max-width: 80vw;
  margin: 0 auto;
}

.wrapper-profiles {
  max-width: 70vw;
  margin: 0 auto;
}

.wrapper-contact {
  max-width: 60vw;
  margin: 0 auto;
}

.header {
  background-color: #1c2431;
  font-family: "Raleway", sans-serif;
}

.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-menu .header-logo {
  width: 100px;
  margin: 25px 0;
}

.header .header-menu .nav-bar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-menu .nav-bar li {
  padding: 15px;
}

.header .header-menu .nav-bar li a {
  text-decoration: none;
  color: white;
}

.header .header-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/bg-curvy-mobile.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.header .illustration-intro {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h1 {
  margin: 0px 40px;
  text-align: center;
  line-height: 45px;
  position: relative;
  top: 50px;
}

.main .main-content {
  margin-top: 70px;
}

.main .main-content .entry {
  text-align: center;
  font-size: 14px;
}

.main .main-content .entry p {
  line-height: 25px;
  margin: 20px;
}

.main .main-content .entry .button {
  color: white;
  background-color: #339ecc;
  width: 80%;
  padding: 15px 0;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  margin: 20px;
}

.articles {
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 25px;
  padding: 10px;
}

.articles .article {
  margin: 70px 0;
}

.articles .article h3 {
  margin: 10px;
}

.articles .article img {
  margin: 20px;
}

.last-entry .illustration-stay-productive {
  width: 90%;
  margin: 0 auto;
}

.last-entry h2 {
  margin: 20px 0;
  font-family: "Raleway", sans-serif;
}

.last-entry p {
  margin: 20px 0;
  font-family: "Open Sans", sans-serif;
}

.last-entry a {
  color: #65e2d9;
  background-color: none;
  text-decoration: none;
}

.last-entry hr {
  margin-top: 5px;
}

.profiles {
  padding: 150px 0;
}

.profiles .quotes-img {
  width: 25px;
  position: absolute;
}

.profiles .profile-cards article {
  background-color: #202a3c;
  font-size: small;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
  line-height: 20px;
}

.profiles .profile-cards .profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profiles .profile-cards .profile-content img {
  width: 10%;
  border-radius: 50%;
  margin-right: 20px;
}

.profiles .profile-cards .profile-content .profile-description {
  margin: 10px 0;
}

footer {
  background-color: #0b1523;
}

footer .footer .contact-section .contact-info {
  margin: 15px;
}

footer .footer .contact-section .contact-info img {
  position: absolute;
  margin-right: 20px;
  margin-top: 5px;
}

footer .footer .contact-section .contact-info .icon-phone {
  width: 15px;
}

footer .footer .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0;
}

footer .footer .about-us a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

footer .footer .terms-privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px 0;
}

footer .footer .terms-privacy a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

footer .footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px;
}

footer .footer .social-media li {
  list-style: none;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 12px;
  margin: 8px;
  position: relative;
  bottom: 15px;
}
/*# sourceMappingURL=styles.css.map */